{# See billwerk_subscriptions_manage.module for available variables. #}
<div class="billwerk-customer">
  <div class="billwerk-customer__address">
    <span class="billwerk-customer__companyName">{{ companyName }}</span>
    <span class="billwerk-customer__firstName">{{ firstName }}</span>
    <span class="billwerk-customer__lastName">{{ lastName }}</span>
    <span class="billwerk-customer__addressLine1">{{ addressLine1 }}</span>
    <span class="billwerk-customer__addressLine2">{{ addressLine2 }}</span>
    <span class="billwerk-customer__street">{{ street }}</span>
    <span class="billwerk-customer__houseNumber">{{ houseNumber }}</span>
    <span class="billwerk-customer__formattedStreetAddressLine">{{ formattedStreetAddressLine }}</span>
    <span class="billwerk-customer__formattedCityAddressLine">{{ formattedCityAddressLine }}</span>

    <span class="billwerk-customer__country">{{ country }}</span> <span class="billwerk-customer__postalCode">{{ postalCode }}</span>
    <span class="billwerk-customer__city">{{ city }}</span>
    <span class="billwerk-customer__state">{{ state }}</span>
  </div>
  <div class="billwerk-customer__misc">
    <span class="billwerk-customer__vatId">{{ vatId }}</span>
    <span class="billwerk-customer__emailAddress">{{ emailAddress }}</span>
  </div>
</div>
