{#
/**
 * @file
 * Default theme implementation to present a billwerk component (add-on) entity.
 *
 * This template is used when viewing a canonical billwerk component (add-on) page,
 *
 * Available variables:
 * - attributes: HTML attributes for the container element.
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - entity: The component entity.
 * - view_mode: The current view-mode.
 *
 * @see template_preprocess_billwerk_component()
 */
#}
<article{{ attributes }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
