{#
'variables' => [
  'billwerk_component' => [],
  'startDate' => NULL,
  'endDate' => NULL,
  'billedUntil' => NULL,
  'quantity' => NULL,
  'componentId' => NULL,
  'id' => NULL,
  'userLocale' => 'en',
]
#}
<div class="billwerk-component-subscription">
  <div class="billwerk-component-subscription__component">
    {{ billwerk_component }}
  </div>
  {% if quantity > 1 %}
    <div class="billwerk-component-subscription__quantity">
      {{ "Quantity:"|t }}
      {{ quantity }}x
    </div>
  {% endif %}

  {% if startDate %}
    <div class="billwerk-component-subscription__start-date">
      {{ "Start:"|t }}
      {#
        Ugly date format workaround needed because:
        - Core bug makes twig_intl impossible to use: https://www.drupal.org/project/drupal/issues/3419294
        - Billwerk doesn't use timestamps, but Drupal does.
        So we need to convert the Billwerk format to timestamp and can then use Drupal's format_date()
      #}
      {{ startDate|date('U')|format_date('short') }}
    </div>
  {% endif %}

  {% if billedUntil and billedUntil != endDate  %}
    <div class="billwerk-component-subscription__billed-until">
      {{ "Billed until:"|t }}
      {#
        Ugly date format workaround needed because:
        - Core bug makes twig_intl impossible to use: https://www.drupal.org/project/drupal/issues/3419294
        - Billwerk doesn't use timestamps, but Drupal does.
        So we need to convert the Billwerk format to timestamp and can then use Drupal's format_date()
      #}
      {{ billedUntil|date('U')|format_date('short') }}
    </div>
  {% endif %}

  {% if endDate %}
    <div class="billwerk-component-subscription__end-date">
      {{ "Canceled as of:"|t }}
      {#
        Ugly date format workaround needed because:
        - Core bug makes twig_intl impossible to use: https://www.drupal.org/project/drupal/issues/3419294
        - Billwerk doesn't use timestamps, but Drupal does.
        So we need to convert the Billwerk format to timestamp and can then use Drupal's format_date()
      #}
      {{ endDate|date('U')|format_date('short') }}
    </div>
  {% endif %}


</div>
